version: '3.7'

services:
  redpanda:
    image: docker.redpanda.com/redpandadata/redpanda:v23.3.11
    container_name: redpanda
    command:
      - redpanda start
      - --smp 1
      - --overprovisioned
      - --kafka-addr internal://0.0.0.0:9092,external://0.0.0.0:19092
      - --advertise-kafka-addr internal://redpanda:9092,external://localhost:19092
      - --mode dev-container
    ports:
      - "19092:19092"
      - "9092:9092"
    healthcheck:
      test: ["CMD", "rpk", "cluster", "health"]
      interval: 5s
      timeout: 10s
      retries: 5

  redpanda-console:
    image: docker.redpanda.com/redpandadata/console:v2.4.3
    container_name: redpanda-console
    entrypoint: /bin/sh
    command: -c "echo \"$$CONSOLE_CONFIG_FILE\" > /tmp/config.yml; /app/console"
    environment:
      CONFIG_FILEPATH: /tmp/config.yml
      CONSOLE_CONFIG_FILE: |
        kafka:
          brokers: ["redpanda:9092"]
    ports:
      - "8080:8080"
    depends_on:
      - redpanda

  vector:
    image: timberio/vector:0.34.1-debian
    container_name: vector
    depends_on:
      redpanda:
        condition: service_healthy
    volumes:
      - ./configs/vector.yaml:/etc/vector/vector.yaml:ro
      - ./data:/var/log/siem:ro
      - vector_data:/var/lib/vector  # <--- Add this line
    environment:
      - VECTOR_CONFIG=/etc/vector/vector.yaml
    restart: on-failure

volumes:
  vector_data: