services:
  web:
    build: ./juice-shop
    container_name: siem_web
    networks:
      - labnet
    ports:
      - "3000:3000"
    volumes:
      - ./volumes/web-logs:/var/log/juice-shop

  attacker:
    image: alpine:3.18
    container_name: siem_attacker
    networks:
      - labnet
    depends_on:
      - web
    command: >
      sh -c "apk add --no-cache curl bash;
             sleep 5;
             while true; do /attacks/run_attacks.sh; sleep 5; done"
    volumes:
      - ./attacks:/attacks:ro

  gateway:
    image: ubuntu:24.04
    container_name: siem_gateway
    networks:
      - labnet
    cap_add:
      - NET_ADMIN
      - NET_RAW
    command: >
      bash -c "apt-get update -y &&
               apt-get install -y iptables tcpdump iproute2 &&
               iptables -A FORWARD -j ACCEPT &&
               tcpdump -i eth0 -w /captures/capture.pcap &
               tail -f /dev/null"
    volumes:
      - ./volumes/captures:/captures

  zeek:
    image: zeek/zeek:latest
    container_name: siem_zeek
    networks:
      - labnet
    cap_add:
      - NET_ADMIN
      - NET_RAW
    command: >
      sh -c "/usr/local/zeek/bin/zeek -C -i eth0 local &&
            tail -f /usr/local/zeek/logs/current/conn.log"
    volumes:
      - ./volumes/zeek-logs:/usr/local/zeek/logs

networks:
  labnet:
    driver: bridge